* {
    font: 20px courier;
    line-height: 30px;
}

#nextPlayer {
    margin: auto;
    text-align: center;
}

.board {
    width: 600px;
    margin: 0 auto;
}

.row {
    width: 480px;
    margin: 0 auto;
    display: table;
}

.square {
    height: 60px;
    width: 60px;
    font-size: 30px;
    background-color: white;
    border: 1px solid grey;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    line-height: 60px;
    float: left;
    display: table;
}

.square[squareState="selectable"] {
    background-color: rgba(122, 211, 255, 0.5);
}

.square[squareState="selected"] {
    background-color: rgba(68, 193, 255, 0.8);
}

.square:focus {
    outline: none;
}

.square:hover {
    filter: brightness(80%);
}

.row:after {
    clear: both;
    content: "";
    display: table;
}